.btn-outline-primary2 {
  color: #e83e8c;
  border:solid 2px;
  border-color: pink;
  margin-bottom: 10px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.btn-outline-primary2:hover{
  background:pink;
  color:white;
}

h1{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top:10px;
}

a {
  color:rgb(201, 104, 214);
}