.btn-outline-primary2 {
  color: #e83e8c;
  border:solid 2px;
  border-color: #e83e8c;
  margin-bottom: 10px;
}

.btn-outline-primary2:hover{
  background:#e83e8c;
  color:white;
}

.btn-primary2{
  color: white;
  background-color: #7dc3f1;
}

.btn-danger2{
  color: white;
  background-color: #f17daf;
}

.btn-danger5{
  color:white;
  background-color: rgb(203, 134, 212);
  margin-right: 1rem !important;
}

h1{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top:10px;
  color:rgb(114, 95, 95);
  font-size:2.2rem;
  text-align: center;
}  

a {
  color:rgb(201, 104, 214);
}

.sort_link {
  color:rgb(114, 95, 95);
}

.page-link{
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  color:#e83e8c;
  background-color:rgba(255, 255, 255, 0.838);
  border:1px solid white;
  margin-left: -1px;
}
.page-link:hover{
  color:#007bff;
}
.page-item.active .page-link {
  z-index:3;
  color:white;
  background-color:#e83e8c;
  border-color:#e83e8c;
}

// .td-1{
//   float:right;
// }