.app-title.navbar.navbar-expand-md.navbar-light.bg-light{
  background: linear-gradient(to right,#ef629f,#eecda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;

}
.navbar-brand1{
  color:white;
  font-size:1.25rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.alert.alert-success{
  margin-top:10px;
  background-color:pink;
  border-radius: 25px;
  color:gray;
  border:0px none;
}