body{
  background-color:#F2D5E3;
  background-image:url('/assets/images/5.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

.app-title.navbar.navbar-expand-md.navbar-light.bg-light{
  background-color: #FBDA61;
  background-image: linear-gradient(45deg,#e44296  0%,#FBDA61  100%);
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
}

.navbar-brand1{
  color:white;
  font-size:1.50rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.alert.alert-success{
  margin-top:10px;
  background-color:white;
  border-radius: 25px;
  color:red;
  // color:rgb(105, 212, 250);
  border:0px none;
}

.nav-link2{
  color: rgb(255, 255, 255);
  margin:0 10px;
}

.btn-outline-warning2{
  color: gray; 
  background-color:rgb(250, 246, 110);
  margin-bottom:5px;
  margin-left:10px;
}

.btn-outline-warning3{
  color:gray;
  background-color:rgb(109, 247, 245);
  margin-bottom: 5px;
  margin-left: 10px;
}

.btn-outline-primary3{
  color:white;
  background-color:rgb(240, 99, 99);
  margin-bottom: 5px;
  margin-left: 10px;
}

.btn-outline-primary4{
  color:gray;
  background-color:white;
  margin-bottom: 5px;
  margin-left: 10px;
}
.table th ,.table td{
  border-top:none;
  padding: 0.5em 1em;
  margin: 1em 0;
  background: #faf4fad0;
}

.btn-danger3{
  color: #e83e8c;
  background-color: pink;
  margin-bottom: 10px;
}
.btn-danger3:hover{
  color:white;
}

.table thead th{
  border-bottom: solid 6px rgb(156, 247, 233);
}
.form-group {
  background-color:skyblue;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color:white;
  text-align:center;  
  border:0px none;
}
.form-check{
  background:white;
  border-radius:5px;
  margin-bottom:10px;
}