.app-title.navbar.navbar-expand-md.navbar-light.bg-light{
  background-color: #FBDA61;
  background-image: linear-gradient(45deg,#e44296  0%,#FBDA61  100%);
  // background: linear-gradient(to right,#ef629f,#eecda3);
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
}
.navbar-brand1{
  color:white;
  font-size:1.50rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.alert.alert-success{
  margin-top:10px;
  background-color:pink;
  border-radius: 25px;
  color:gray;
  border:0px none;
}

.nav-link2{
  color: rgb(255, 255, 255);
  margin:0 10px;
}

.btn-outline-warning2{
  color: gray; 
  background-color:rgb(250, 246, 110);
  margin-bottom:5px;
  margin-left:10px;
}

.btn-outline-warning3{
  color:gray;
  background-color:rgb(247, 131, 60);
  margin-bottom: 5px;
  margin-left: 10px;
}

.btn-outline-primary3{
  color:white;
  background-color:rgb(240, 99, 99);
  margin-bottom: 5px;
  margin-left: 10px;
}

.btn-outline-primary4{
  color:gray;
  background-color:white;
  margin-bottom: 5px;
  margin-left: 10px;
}
.table th ,.table td{
  border-top:none;
  padding: 0.5em 1em;
  margin: 1em 0;
  background: #f8edf9;
}
.table thead th{
  border-bottom: solid 6px rgb(156, 247, 233);
}